{% extends "base_generic.html" %}
{% block content %}
	<div class="container justify-content-center">
		<div class="row">
			{% load staticfiles %}
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" type="text/css" href="{% static 'ustsa_race_manager/style.css' %}"/>
			{% if recent_races %}
			The recent USTSA Races are:
				{% for race in recent_races %}
					<ul>
						<li><a href="{% url 'race_detail' race.race_name %}">{{ race }}</a></li>
					</ul>
				{% endfor %}

			{% else %}
				<p>No races are available.</p>
			{% endif %}

			<p> Racers: {{ num_racers }} </p>
			<p> Races: {{ num_races }} </p>
		</div>
	</div>
{% endblock %}
